.index-header {
    .background-header(url("../images/banner1_optimized.jpg"),58vh, 100%);
    min-height: 600px;
    margin-bottom: 40px;
    .center-container{
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .content{
            display: flex;
            
            flex-direction: column;
            h1{
                font-family: 'Roboto', sans-serif;
                color: @title-color;
                font-weight: 500;
                letter-spacing: 2px;
                font-size: 50px;
                margin-bottom: 15px;
                
            }
            span {
                color: @subtitle-color;
                font-size: 23px;
                margin-bottom: 8px;
                font-style: italic;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: @button-color;
                color: white;
                font-size: 20px;
                font-family: inherit;
                text-decoration: none;
                border: none;
                cursor: pointer;
                outline: none;
                height: 48px;
                width: 90%;
                border-radius: 7px;
                margin-top: 18px;
            }
        }

    }
}

.about-header {
    .background-header(url("/images/banner3_optimized.jpg"),40vh, 100%);
}

.title {
    
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    h1 {
        color: black;
        font-size: 40px;
    }
}

