
.nav-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav {
    
    width: 45%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    a {
        
        flex-direction: row;
        text-decoration: none;
        color: @nav-font-color;
        font-size: 21px;
        font-weight: 700;
    }
}